@import url('https://fonts.googleapis.com/css?family=Vollkorn:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Vollkorn';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
  
}
.condiv
{
  padding: 100px ;
  flex:var(--condiv-flex);
  background-color: #f5e3e6 ;
  
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f5e3e6 ;
  
    
   
}
.profilepic
{
  border-radius: 50%;
  width: 300px;
  margin: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
nav ul li
{
  margin:40px;
}

a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}

colormail
{
color:#000000;
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color:  #e84393;
}
.social i:hover
{
  color: #ffffff;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}
.btn{
  background-color:#e84393;
  position: fixed;
	text-align: center;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	color: hsl(220, 80%, 50%);
	width: 120px;
	height: 40px;
	margin-top: calc(30vh - 95px);
	margin-left: calc(35vw - 75px);

	border-radius: 10px;
	box-shadow: 
		0px 0px 0px 15px hsl(330, 69%, 43%),
		0px 10px 0px 15px hsl(330, 86%, 17%),
		0px 20px 20px 15px #0003;
	cursor: pointer;
	border-radius: 100px 30px 100px 30px;

}
.btn p {
	margin-top: 0px;
	transform: rotate(-3deg);
}

.btn:hover {
	animation: .8s morph ease infinite;
}

.btn:hover p {
	animation: .8s rot ease infinite;
}

@keyframes morph {
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}

@keyframes rot {
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
} 
 


.mailcolor{
  color:#270214;
}
  @media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}